.App{
    padding-left: 10%;
}
.App-header{
    /* text-decoration: underline; */
    padding-top: 5%;
    padding-bottom: 1%;
}

input[type=text-box] {
    border: none;
    border-bottom: 3px solid blue;
    margin-right: 10px ;
    width: 300px;
    outline: none;
    padding-top: 20px;
  }


.nav-heading{
    padding-left: 25px;
}

.nav-content{
    padding-left: 50px;
}

.nav-form{
    padding-left: 30%;

    
}
.nav-input{
    margin-right: 10px
}
.navbar-toggle{
    margin-right: 15px;
}

.hide{
    display:none;
    color: rgba(128, 128, 128, 0.39);
    padding-left:10px;
}

.tasks{
    width: 50%
}

p:hover{
    color: rgb(148, 148, 148)
}
p:hover .hide{
    display:inline;
}